/* Mobile 375 */
@media screen and (max-width: 376px) {
    body {
        max-width: 375px;
    }
    /*----------HEADER------------*/
    .header{
        padding: 0px;
        width: 375px;
        height: 65px;
    }
    .header-logo img {
        width: 217px;
        height:20px;
        margin: 24px 138px 21px 20px;
    }
    .header-menu{
       display: none;
        
    }
    .header-bar{
        width: 24px;
        height: 14px;
        margin-top: 27px;
        margin-right: 20px;
        margin-bottom:  24px;
        margin-left:  -50px;
        display: block;
    }
    /*------section__about------*/
    .section__about-img img{
        width: 375px;
        height: 235px;
        margin-left: 0px;
    }
    
    .section__about-img{
        width: 375px;
        height: 235px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 52px;
        margin-bottom: 32px;
    }
    .section__about-title{
        width: 335px;
        height: 172px;
        margin: 32px 20px 24px 20px;
        font-size: 35px;
        line-height: 43px;
    }
    .section__about-text {
        width: 335px;
        height: 81px;
        font-size: 16px;
        margin: 0px 20px 36px 20px;
    }
    .section__about-content hr{
        width: 375px;
        margin: 0px 0px 56px 0px;
    }
    /* ______ */
    .section__articles{
        width: 375px;
        height: 2111px;
    }
    .section__articles-title{
        width: 164px;
        height: 38px;
        margin: 0px 105px 29px 106px;
        font-size: 32px;
        line-height: 38px;      
    }
    .section__articles-list{
        display: grid;
        grid-template-columns: repeat(1,335px); /*cột*/
        grid-template-rows:repeat(6,194px); /*dòng*/
        row-gap: 140px;
        margin: 0px 20px;
    }
    .articles_img2 img{
        width: 335px;
        height: 194px;      
    }
    .articles_img-span{
        Font-size: 22px;
        Line-height: 26px;
        font-weight: 500;
    }
    .articles_img2{
        display: block;
    }
    .articles_img1{
        display: none;
    }
    .img-span-16{
        width: 282px;
        height: 104px;
    }
    /*-----------FOOTER------*/
    .footer{
        width: 375px;
        height: 456px;      
    }

    .footer__header {
        overflow: hidden;
    }
    .footer__header-item1{
        display: none;
    }
    .footer__header-item5{
        display: none;
    }
    .footer__header-item6{
        display: none;
    }
    .footer__header-item7{
        display: none;
    }
    .footer__header-item8{
        display: none;
    }
    .footer__header-list{
        margin-left: -45px;
    }
    .footer__header-list a{
        font-size: 16px;

    }
    .footer__header-item2{
        width: 135px;
        height: 28px;      
    }
    .footer__header-item3{
        width: 105px;
        height: 28px;
        margin-left:19px;  
    }
    .footer__header-item4{
        width: 190px;
        height: 28px; 
        margin-left:18px;  
    }
    /* -----FOOTER BODY------ */
    .footer__body-img img{
        width: 236.37px;
        height: 22.18px; 
        margin-left: 69.32px;
        margin-right: 69.31px;     
        margin-top: 153.41;
    }
    .footer__body-text{
        width: 287px;
        height: 71px;
        font-size: 13px;
        line-height: 140%;
        margin: 25.41px 44px 0px 44px;
    }
    .body-text-1{
        display: none;
    }
    .body-text-2{
        display: block;
    }
    .footer__body-list{
        width: 181px;
        margin-top: 32px;
        margin-left: 98px;
        font-size: 13px;
    }
    .footer__body-item-twitter{
        width: 45px;
        height: 22px;
    }
    .footer__body-item-linkedIn{
        width: 53px;
        height: 22px;
        margin-right: 30px;
    }
    .footer__body-item-RSS{
        width: 26px;
        height: 22px;
    }
    .footer__desc{
        font-size: 12px;
        margin-left: 98px;
        margin-top: 64px;
    }

}